
.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: min-content;
}

.places h1 {
	width: 100%;
	font-size: 30px;
	height: max-content;
	margin-top: 4vmin;
	display: flex;
	align-items: flex-end;
}
article {
	width: 100%;
	max-width: 390px;
	max-height: 100%;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 0px 1px inset #FF5A5F;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 60px 1fr 60px;
	grid-template-rows: 60px;
	grid-auto-rows: min-content;
	align-items: center;
	justify-content: center;
	gap: 4px;
}

article > * {
	grid-column: 1 / -1;
}

article h2 {
	font-size: 30px;
	grid-column: 2 / 2;
	place-self: center;
}


.price_by_night {
	font-size: 30px;
	height: 94%;
	min-width: 94%;
	align-items: center;
	padding: 6%;
	grid-column-start: 3;
	place-self: center;
	color: #FF5A5F;
	display: flex;
	place-content: center;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 4px #FF5A5F;
	line-height: 67px;
	justify-content: center;
	letter-spacing: -1pt;
}

.information {
	display: flex;
	justify-content: center;
	padding: 6px 0px;
	margin: 12px 0px;
	box-shadow: 0px 1px 0px 0px #DDD, 0px -1px 0px 0px #DDD;
}

.information > * {
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max_guest:before {
	content: "";
	aspect-ratio: 1 / 1;
	width: 50px;
	height: 50px;
	background-image: url("../images/icon_group.png");
}

.number_rooms:before {
	content: "";
	aspect-ratio: 1 / 1;
	width: 50px;
	height: 50px;
	background-image: url("../images/icon_bed.png");
}

.number_bathrooms:before {
	content: "";
	aspect-ratio: 1 / 1;
	width: 50px;
	height: 50px;
	background-image: url("../images/icon_bath.png");
}

article :is(.reviews, .amenities) {
	margin-top: 40px;
}

article :is(.reviews, .amenities) h2 {
	font-size: 16px;
	padding-bottom: 10px;
	box-shadow: 0px 1px 0px 0px #DDD;
}

article :is(.reviews, .amenities) li{
	list-style: none;
}

article .reviews h3 {
	font-size: 14;
}
article .reviews p {
	font-size: 12;
}

article .amenities li {
	display: flex;
	align-items: center;
}

article .amenities li:before {
	content: "";
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	margin-right: 1em;
	background-image: var(--src);
	background-size: 1.4em;
}
