
.filters {
	border-radius: var(--filters__border_radius);
	box-shadow: var(--filters__border);
	display: grid;
	grid-template-columns: repeat(4, minmax(min-content, 25%));
}

.filters button {
	font-weight: var(--filters-title__weight);
	border-radius: var(--filters__border_radius);
	width: var(--filters_button__width);
	height: var(--filters_button__height);
	grid-column-start: 4;
	align-self: center;
	justify-self: flex-end;
	margin-right: var(--filters_button__margin_right);
	background-color: var(--filters_button__background);
	color: var(--filters_button__color);
}

.filters button:hover {
	filter: opacity(90%);
}

.filters > *:not(button)
{
	display: flex;
	flex-flow: column wrap;
	place-content: center;
	position: relative;
}

.filters > *:not(button) h3
{
	font-weight: var(--filters-title__weight);
	font-size: var(--common_button__font-size);
	white-space: nowrap;
}

.filters > *:not(button) h4
{
	font-weight: var(--filters_subtitle__weight);
	white-space: nowrap;
}
.filters > *:first-child:not(button)
{
	box-shadow: var(--filters_first__border_right);
}
.filters > *:not(button) > *
{
	margin: 0px var(--filters__gap);
}

.popover
{
	position: absolute;
	bottom: 0px;
	width: calc(100% - 2vmin);
	transform: translateY(100%);
	background-color: #FAFAFA;
	box-shadow: 0 0 0 1px #DDD;
	border-radius: 4px;
	padding: 1vmin;
	padding-bottom: 2vmin;
	display: none;
	visibility: hidden;
	left: 0px;
}

.popover > h2
{
	list-style: none;
	font-size: 16px;
	margin: 0.67em 0.47em 0.47em;
}

.popover > li
{
	list-style: none;
	margin: 0.47em 1.7em;
}

.filters > *:not(botton):hover > .popover
{
	display: block;
	visibility: visible;
	animation-name: show-menu;
	animation-direction: normal;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

@keyframes show-menu {
	from {
		display: block;
		filter: blur(5px) opacity(0);
	}
	to {
		display: block;
		filter: blur(0px) opacity(1);
	}
}

@media (max-width: 768px) {
	.filters > *:not(button) h4 {
		display: none;
	}

	.filters > *:not(botton):hover > .popover,
	.popover {
		animation-name: none;
		width: calc(100vw - (2vmin + 20px));
		position: fixed;
		left: 0px;
		top: 71px;
		z-index: 10;
		transform: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow-y: auto;
		overflow-x: hidden;
		justify-content: flex-start;
		transition: none;
	}

	.popover > h2 {
		padding-top: 1em;
		padding-bottom: 1em;
		user-select: none;
	}

	.popover > li {
		display: grid;
		place-items: center;
		padding-top: 3em;
		padding-bottom: 3em;
		width: 100%;
		cursor: pointer;
		box-shadow: 20vw 0px 20vw -20vw inset #FF5A5F44;
		transition: box-shadow 400ms;
		border-radius: 4px;
	}

	.popover > li:hover {
		box-shadow: 0vw 0px 10vw 0px inset #FF5A5F33;
	

}

