
.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: min-content;
}

.places h1 {
	width: 100%;
	font-size: 30px;
	height: max-content;
	margin-top: 4vmin;
	display: flex;
	align-items: flex-end;
}
article {
	width: calc(100vw - 140px);
	max-width: 390px;
	height: max-content;
	padding: 20px;
	margin: 20px;
	box-shadow: 0px 0px 0px 1px inset #FF5A5F;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article h2 {
	font-size: 30px;
}


